.container canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#start-screen {
  width: 100%;
  height: auto;
  z-index: 5;
}
#game {
  display: none;
}
#game-canvas {
  background-image: url("./img/background.jpg");
  z-index: 1;
}
#map {
  z-index: 2;
}
#creatures {
  z-index: 3;
}
#chicken {
  z-index: 4;
}
#win{
  display: none;
  width: 100%;
  height: auto;
  z-index: 5;
}
#lose{
  display: none;
  width: 100%;
  height: auto;
  z-index: 5;
  position: relative;
}
#images {
  display: none;
}

button {
  z-index: 6;
  width: 250px;
  height: auto;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 650px;
  left: 35%;
  /* align-items: center; */
  justify-content: center;
  background-color: black;
  color: white;

}
