.container canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#game {
  background-image: url("./img/background.jpg");
  z-index: 0;
}
#map {
  z-index: 1;
}
#creatures {
  z-index: 2;
}
#chicken {
  z-index: 3;
}
